<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940056466165-3b9ah4dlim7s244g2mhrc38jmeqdupdk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940056466165-3b9ah4dlim7s244g2mhrc38jmeqdupdk</string>
	<key>API_KEY</key>
	<string>AIzaSyANYvrWjD7_bdsrGWfLCbvljPeTBCcqPEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>940056466165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tabpos</string>
	<key>PROJECT_ID</key>
	<string>tabpos-93583</string>
	<key>STORAGE_BUCKET</key>
	<string>tabpos-93583.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940056466165:ios:31ed27631248730e0eebbc</string>
</dict>
</plist>